.container {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 35px;
  padding-bottom: 35px;
}

.addButton {
  $color: #5cb85c;
  background: white;
  border-radius: 5px;
  border: 1px solid $color;
  color: $color;
  cursor: pointer;
  font-family: 'Roboto Mono';
  font-size: 18px;
  text-align: center;
  width: 100%;
}
