.container {
  border-bottom: 1px dotted grey;
  display: block;
  margin: 50px auto;
  padding: 10px;
  text-align: center;
  width: 225px;
}

.header {
  font-size: 22px;
  font-weight: bolder;
}

.subHeader {
  font-size: 11px;
}
